.header , .footer{ 
    height: 80px;
    color: #fff;
    background: transparent;
    border-top: 1px solid rgba(102, 125, 255, 0.5);
    border-right: 1px solid rgba(126, 210, 210, 0.5);
    border-bottom: 1px solid rgba(135, 135, 246, 0.352);
    border-left: 1px solid rgba(36, 43, 255, 0.5);
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin-top: 10px;
}
